include LICENSE
include README.md
include pyproject.toml
include setup.cfg
include setup.py
recursive-include kyoko/assets *.json
recursive-include kyoko/assets/web *
recursive-include docs *.md *.json *.sql
recursive-include examples *.mjs *.py
recursive-include scripts *.py
recursive-include tests *.py
global-exclude __pycache__ *.py[cod] .DS_Store
